<footer class='footer'>
    <div class='container'>
        <div class='footer__inner'>
            <div class="footer__left">
                <div class="footer__info">
                    <a href="" class="footer__logo">
                        <img src="img/logo2.svg" alt="">
                    </a>
                    <div class="footer__address">
                        г. Махачкала, <br> ул. Джамалутдина Атаева, 5.
                    </div>
                </div>
                <div class="footer__links">
                    <div class="footer__links-group">
                        <a href="" class="footer__link">Абитуриентам</a>
                        <a href="" class="footer__link">Студентам</a>
                        <a href="" class="footer__link">Выпускникам</a>
                        <a href="" class="footer__link">Сотрудникам</a>
                        <a href="" class="footer__link">Партнерам</a>
                    </div>
                    <div class="footer__links-group">
                        <a href="" class="footer__link">Университет</a>
                        <a href="" class="footer__link">Образование</a>
                        <a href="" class="footer__link">Наука</a>
                        <a href="" class="footer__link">Развитие</a>
                        <a href="" class="footer__link">Сотрудничество</a>
                        <a href="" class="footer__link">Медиа</a>
                    </div>
                </div>
            </div>
            <div class="footer__contacts">
                <div class="footer__contacts-item">
                    <div class="footer__contacts-title">Телефон:</div>
                    <a href="tel:+78722638424" class="footer__contacts-link">+7 (8722) 638424</a>
                </div>
                <div class="footer__contacts-item">
                    <div class="footer__contacts-title">Факс:</div>
                    <a href="tel:+78722638343" class="footer__contacts-link">+7 (8722) 638343</a>
                </div>
                <div class="footer__contacts-item">
                    <div class="footer__contacts-title">E-mail:</div>
                    <a href="mailto:dgunh@dgunh.ru" class="footer__contacts-link">dgunh@dgunh.ru</a>
                </div>
            </div>
        </div>
        <div class="footer__privacy">© 2022 ГАОУ ВО «Дагестанский государственный университет народного хозяйства»</div>
    </div>
</footer>